@font-face {
  font-family: "art-bold";
  src: url(../fonts/ART_Bold.otf);
}
@font-face {
  font-family: "art-regular";
  src: url(../fonts/ART_Regular.otf);
}
@font-face {
  font-family: "nunito";
  src: url(../fonts/NunitoSans-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(26, 62, 62, 0.6509803922);
}

.first-block {
  background-image: url(../img/fon-f-block.png);
  height: 985px;
}
.first-block .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-left: 370px;
  padding-right: 370px;
  font-family: "nunito";
  font-size: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-block2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-block2 ul li {
  margin-left: 12px;
  margin-right: 12px;
  list-style: none;
}
.menu-block2 a {
  text-decoration: none;
  color: white;
}

.menu-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 37px;
}
.menu-button button {
  background-color: #1A3E3E;
  width: 157px;
  height: 44px;
  color: white;
  font-family: "nunito";
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.form-program {
  margin-top: 460px;
  padding-left: 370px;
  padding-right: 370px;
}
.form-program p {
  margin-top: 25px;
}
.form-program .text {
  font-family: "art-bold";
  font-size: 50px;
  color: white;
}
.form-program .form-tur {
  border-radius: 10px;
  background: rgba(247, 241, 241, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  margin-top: 40px;
  height: 160px;
  padding-left: 43px;
}
.form-program .form-tur select {
  height: 52px;
  width: 270px;
  padding: 0px 20px;
  border-radius: 8px;
  border: 1px solid var(--wl-primary-primary-300, #E1E3E4);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: "nunito";
  font-size: 16px;
  margin-top: 40px;
  margin-right: 24px;
}